.container {
    height: 100%;

    width: 70vw;
    left: calc(50% - 832px / 2 - 1px);
    top: 27vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    gap: 0.8rem;
}

.header {
    width: 51.125rem;
    height: 12rem;
    flex-shrink: 0;

    margin-bottom: 6.5rem;
}

.h1 {
    display: flex;
    width: 51.125rem;
    flex-direction: column;
    flex-shrink: 0;
    color: #dadfe5;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.36rem;
}